<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/app}">>
<head>
    <meta charset="UTF-8">
    <title>Resume Listing</title>
</head>
<body>
<div layout:fragment="content">
    <h1>resume listing</h1>
    <a class="btn btn-secondary" th:href="@{/resume/create}">Add Resume</a>
    <div class="d-flex" style="width:100%; border: 1px solid black">
        <div class="card me-3" style="width: 18rem;" th:each="resume : ${resumes}">
<!--            <img src="..." class="card-img-top" alt="...">-->
            <a th:href="@{/resume/view/{filePath}(filePath=${resume.originalFileName})}" target="_blank">resume</a>
            <div class="card-body">
                <h5 class="card-title" th:text="${resume.title}"></h5>
                <p class="card-text" th:text="${resume.notes}"></p>
                <a href="#" class="btn btn-secondary">Edit</a>
                <a th:href="@{/resume/delete/{id}(id=${resume.resumeId})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>