<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">JobJoy</title>

<!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>

    <!-- MDBootstrap CSS -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.min.css"
            rel="stylesheet"
    />

    <!-- MDBootstrap JS -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.min.js"
    ></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 px-3" style="border:1px solid #e3e3e3;">
    <a class="navbar-brand" href="#">JobJoy</a>
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
<!--            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user/home}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="documentsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents
                </a>
                <div class="dropdown-menu" aria-labelledby="documentsDropdown">
                    <a class="dropdown-item" th:href = "@{/resume/list}">Resume</a>
                    <a class="dropdown-item" th:href="@{/cover-letter/list}">Cover Letter</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job/list}">Job Application</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Result</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="others" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="others">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Saved Jobs</a>
                    <a class="dropdown-item" href="#">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit">Logout</button>
                        </form>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main layout:fragment="content">
    <!-- Content will be inserted here -->
</main>

<!-- Add your JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<th:block layout:fragment="javascript"></th:block>
</body>
</html>